.section-about {
  background-color: rgb(54, 50, 50);
  width: 100%;
}

.section-about,
h1 {
  color: gold;
  text-align: center;
  width: 70%;
  margin: 5% 15% 5% 15%;
}
.section-about,
p {
  color: white;
  text-align: center;
  width: 70%;
  margin: 5% 15% 5% 15%;
}
