.detail img {
  margin-top: 15%;
  height: 25%;
  width: 25%;
}
.detail {
  display: flex;
  margin: 0% 15%;
  width: 100%;
}
hgroup h2 {
  color: gold;
  margin-left: 10%;
}
hgroup p {
  margin-left: 10%;
}
section {
  margin-top: 10%;
}
