.modify-parfum {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.h2-create {
  color: gold;
}
.h2-create-parfum {
  color: gold;
  text-align: center;
  margin-top: 10%;
}
#create {
  margin-top: 1%;
}

.modify-parfum li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  min-height: 150px;
  gap: 20px;
}

.create-img {
  flex-shrink: 0;
}

.create-img img {
  max-width: 80px;
  height: auto;
  border-radius: 5px;
}

.create-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: left;
}

.create-info h3 {
  font-size: 1.5rem;
  margin: 0;
  color: gold;
}

.create-info p {
  margin: 5px 0;
  font-size: 1rem;
  color: #ccc;
  max-width: 600px;
  text-align: justify;
}

.create-info button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
}

.create-info button:hover {
  background-color: rgb(214, 175, 0);
}

.create-modify button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.create-modify-button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.button:hover {
  background-color: rgb(214, 175, 0);
}
